@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
    box-sizing: border-box;
}

i {
 color:rgb(97, 105, 88);
}

#profile_pic {
  -webkit-box-shadow: 9px 17px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 17px 17px -9px rgba(0,0,0,0.75);
  box-shadow: 9px 17px 17px -9px rgba(0,0,0,0.75);
}

.navbar {
    display: flex;
    flex-direction: row;
}

.hello {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lead {
    color: #000;
    font-weight: bold;
}

.lead a {
    color: rgb(20, 197, 20);;
    font-style: italic;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}

#logo img {
    float: right;
}


#navbarNav {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

#navbarNav a { 
    margin: 30px;
    font-size: 1.5rem;
    color: white !important;
}

#navbarNav a:hover {
    color: rgb(20, 197, 20) !important;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    display: none;
}

#present {
    width: 80%;
    margin: auto;
    background-color: #fff;
    height: 400px;
}

#present h1 {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    color: rgb(97, 105, 88) !important;

}

.container-fluid p {
    font-family: 'Aldrich', sans-serif;
}

#action {
    display: flex;
    flex-direction: column;
    font-family: 'Aldrich', sans-serif;
    color: rgb(97, 105, 88) !important;
}

#links {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#links h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2.4rem;
}

#bckg {
    margin: auto;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bckg h1{
    color: rgb(97, 105, 88);
    font-size: 1.4rem;
}

.my-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Aldrich', sans-serif;
}

.my-btn-group a {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.fa-file {
    color: red;
}


