@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
    box-sizing: border-box;
}

i {
 color: #44bcd8;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.special {
    color: #44bcd8 !important;
    height: 20px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}

#logo img {
    float: right;
}


#navbarNav {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

#navbarNav a { 
    margin: 30px;
    font-size: 1.5rem;
    color: white !important;
}

#navbarNav a:hover {
    color: rgb(48, 227, 240) !important;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    display: none;
}

#present {
    width: 80%;
    margin: auto;
    background-color: #fff;
}

#present h1 {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
}

.container-fluid p {
    font-family: 'Aldrich', sans-serif;
}

#action {
    display: flex;
    flex-direction: column;
    font-family: 'Aldrich', sans-serif;
}

.links {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2.4rem;
}

.my-btn-group {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    font-family: 'Aldrich', sans-serif;
}

.my-btn-group a {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.fa-file {
    color: red;
}

#bckg {
    margin: auto;
    width: 80%;
    height: 600px;
    background: url("/Assets/images/pc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#pc {
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
}